__pycache__
.DS_Store
.pyftpsync-meta.json
.venv/
*.log
/.settings
/archive
/build
/node_modules
/site/
/test/triage
docs/tutorial/FT_*.md
playwright-report/
test-results/
/test/fixtures
test/issue_*.*
