__pycache__
.DS_Store
.pyftpsync-meta.json
.venv/
*.log
/.settings
/archive
/build
/node_modules
/site/
/test/fixtures
/test/triage
docs/tutorial/FT_*.md
playwright-report/
test-results/
test/issue_*.*
/.yarn
.pnp.cjs
.pnp.loader.mjs
