[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# fabulist = "*"
"nutree[all]" = ">=0.9"
mkdocs = "*"
mkdocs-material = "*"

[dev-packages]
black = "24.8"

[requires]
python_version = "3.12"

[pipenv]
# allow_prereleases = true
